[submodule "Totem Rep Fork"]
	path = Totem Rep Fork
	url = git@github.com:leandrosly/splitkeyboard-totem.git
[submodule "ZMK Rep Fork"]
	path = ZMK Rep Fork
	url = git@github.com:leandrosly/splitkeyboard-zmk.git
[submodule "ZMK Config by EigaTech Rep Fork"]
	path = ZMK Config by EigaTech Rep Fork
	url = git@github.com:leandrosly/splitkeyboard-zmk-config-by-eigatech.git
[submodule "Keycap Playground Rep Fork"]
	path = Keycap Playground Rep Fork
	url = git@github.com:leandrosly/splitkeyboard-keycap-playground.git
[submodule "ZMK Config Zero"]
	path = ZMK Config Zero
	url = git@github.com:leandrosly/splitkeyboard-zmk-config-zero.git
