[submodule "Totem Rep Fork"]
	path = Totem Rep Fork
	url = git@github.com:leandrosly/splitkeyboard-totem.git
[submodule "ZMK Rep Fork"]
	path = ZMK Rep Fork
	url = git@github.com:leandrosly/splitkeyboard-zmk.git
[submodule "ZMK Config by EigaTech Rep Fork"]
	path = ZMK Config by EigaTech Rep Fork
	url = git@github.com:leandrosly/splitkeyboard-zmk-config-by-eigatech.git
[submodule "Keycap Playground Rep Fork"]
	path = Keycap Playground Rep Fork
	url = git@github.com:leandrosly/splitkeyboard-keycap-playground.git
[submodule "ZMK Config Zero"]
	path = ZMK Config Zero
	url = git@github.com:leandrosly/splitkeyboard-zmk-config-zero.git
[submodule "Zephyr Rep Fork"]
	path = Zephyr Rep Fork
	url = git@github.com:leandrosly/splitkeyboard-zephyr.git
[submodule "ZMK Config TMP"]
	path = ZMK Config TMP
	url = git@github.com:leandrosly/splitkeyboard-zmk-config-tmp.git
[submodule "ZMK Config Faw36"]
	path = ZMK Config Faw36
	url = git@github.com:leandrosly/zmk-config-faw36.git
[submodule "ZMK Config Klein"]
	path = ZMK Config Klein
	url = git@github.com:leandrosly/splitkeyboard-zmk-config-Klein.git
[submodule "ZMK Config MLego"]
	path = ZMK Config MLego
	url = git@github.com:leandrosly/splitkeyboard-zmk-config-mlego.git
